.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 11px;
}

.main .focus {
    float: left;
    width: 721px;
    width: 455px;
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
    margin-left: 9px;
}

.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 33px;
    line-height: 33px;
    padding: 0 15px;
    border-bottom: 1px dotted #e4e4e4;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd .more {
    float: right;
}

.news-hd .more::backdrop {
    font-family: 'icomoon';
    content: '\e920';
}

.news-bd {
    padding: 5px 15px 0;
}

.news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 一行写不下 会出现省略号 这三个缺一不可 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: none;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    text-align: center;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -17px -15px;

}

.bargain {
    margin-top: 5px;
}

/* 推荐模块 */

.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom-hd {
    float: left;
    width: 205px;
    height: 163px;
    background-color: #928281;
    text-align: center;
    padding-top: 30px;

}

.recom-bd {
    float: left;
}

.recom-bd ul li {
    position: relative;
    float: left;
}

.recom-bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.cainixihuan {
    height: 262px;
}

.cainixihuan h5 {
    position: relative;
    height: 20px;
    margin-top: 29px;
    line-height: 20px;
    font-size: 18px;
}

.cainixihuan h5 ul li a {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 12px;
}

.cainixihuan h5 ul li a::after {
    font-family: 'icomoon';
    content: '\e920';
}

.cainixihuan_div {
    height: 233px;
    margin-top: 12px;
    border: 1px solid #ededed;
}

.cainixihuan_div ul {
    float: left;
    width: 203px;
    text-align: center;
}

.cainixihuan_div ul li:nth-child(1) {
    height: 163px;
    line-height: 163px;

}

.cainixihuan_div ul:last-child {
    width: 183px;
}

.cainixihuan_div ul:last-child li:last-child {
    border-right: none;
}

.cainixihuan_div ul li:last-child {
    border-right: 1px solid #ededed;
}

/* 楼层区域模块 */
.jiadian .box_hd {
    height: 18px;
    line-height: 18px;
    padding-right: 16px;
}

.jiadian .box_hd h2 {
    float: left;
}

.jiadian .box_hd .tab_list {
    float: right;
}

.jiadian .box_hd .tab_list ul li {
    float: left;
    font-size: 12px;
}

.jiadian .box_hd .tab_list ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    margin: 3px 16px;
    background-color: #999999;
}

.floor .w {
    margin-top: 30px;
}

.jiadian .box_bd {
    height: 362px;
    margin-top: 2px;
    border-top: 2px solid #c81623;
}

.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}

.col_210 ul {
    margin-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ededed;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* 一般情况下,a如果包含有宽度的盒子,a需要转换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}